.weather-view-container {
    margin-top: 5px;
}
.weather-view-container .weather-info {
    height: 140px;
}

.weather-view-container .weather-view-temperature {
    font-size: 100px;
}

.weather-view-container .weather-view-icon {
    font-size: 90px;
}
