.weather-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.weather-view-container h3 {
    flex: 3 1 100%;
}
.weather-view-container button {
    flex: 3 1 100%;
}

.weather-view-container .weather-view-temperature {
    flex: 1 1 32%;
    font-size: 100px;
}

.weather-view-container .info {
    flex: 1 1 32%;
}

.weather-view-container .weather-view-icon {
    flex: 1 1 32%;
    font-size: 90px;
}
