.forecast-view-container .forecast-item:not(:last-child) {
    margin-right: 5px;
}

@media (max-width: 574px) {
    .forecast-view-container .forecast-item:not(:last-child) {
        margin-right: 0;
    }
}

.forecast-view-container .forecast-item {
    margin-top: 5px;
    padding: 0;
}

.forecast-view-container .forecast-weather-icon {
    font-size: 30px;
}

.forecast-view-container .forecast-temperature {
    font-size: 30px;
}
