.divider {
    flex: 1 1 100%;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin: 20px 0;
}

.divider:before {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
}

.divider-text {
    background-color: inherit;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}
